.row
  .col.s12.m7
    .card
      .card-image
        img src="http://lorempixel.com/400/200/food" /
        span.card-title Card Title
      .card-content
        p
          | I am a very simple card. I am good at containing small bits of information.
          | I am convenient because I require little markup to use effectively.
      .card-action
        a href="#"  This is a link

/ .container
/   .card
/   .card
/     h1.title Login
/     form
/       .input-container
/         input#Username required="required" type="text" /
/         label for="Username"  Username
/         .bar
/       .input-container
/         input#Password required="required" type="password" /
/         label for="Password"  Password
/         .bar
/       .button-container
/         button
/           span Go
/       .footer
/         a href="#"  Forgot your password?
/   .card.alt
/     .toggle
/     h1.title
/       | Register
/     .close
/     form
/       .input-container
/         input#Username required="required" type="text" /
/         label for="Username"  Username
/         .bar
/       .input-container
/         input#Password required="required" type="password" /
/         label for="Password"  Password
/         .bar
/       .input-container
/         input id=("Repeat Password") required="required" type="password" /
/         label for=("Repeat Password")  Repeat Password
/         .bar
/       .button-container
/         button
/           span Next
